body {
    background: linear-gradient(45deg,rgb(4, 54, 71), rgba(40, 189, 189, 0.938), rgba(190, 240, 240, 0.808));
    animation: colors 3s;
}

@keyframes colors {
    0% { 
        background-position: 50%;
        opacity: 5%;
    }
    50% {
        background-position: 100% 50%;
        opacity: 50%;
    }
    100% {
        background-position: 0% 50%;
        opacity: 100%;
    }
}

button[type= 'reset']:hover {
    cursor: pointer;
    background-color: #ffcb77ab;
    transition-duration: .3s;
    transform: scale(1.1);
    transform: rotate(360deg);
}

button[type= 'submit']:hover {
    cursor: pointer;
    background-color: rgb(24, 98, 122);
    color: mintcream;
    transition-duration: .3s;
    transform: scale(1.1);
    transform: rotate(-360deg);
}

input:hover {
    background-color: #f7f4f1d7;
    color: rgb(9, 47, 59);
    transform: scale(1.05);
    box-shadow: 5px 5px 3px #094215c4;
}


@keyframes container {
/* Outra maneira de determinar o que ocorre equando ocorre na animação */
    /* 0% {left: -100%; top: 0%;}
    25% {left: 10%; top: 5%} 
    50% {left: 30%; top: 25%}
    75% {left: 45%; top: 15%;}
    100% {left: 50%;} */
    from{
        left: -100%;
    }
    to {
        left: 50%;
    }
}

.container {
    animation: container 2s;
}

@keyframes titulo {
    from{
        font-size: 0px;
    }
    to{
        font-size: 35px;
    }
}
h2{
    animation: titulo 2s;
    
}
    
.paragrafo-interno:hover{
    cursor: pointer;
    animation: paragrafo-hover;
    transition-duration: 1.2s;
    transform: scale(1.1);
}

.icon:hover {
    transform: scale(2);
}